{{^url.image}}
<!-- N/A: Use Web Content "ABOUT - Directory UT Austin Seal Picture" -->
{{/url.image}}
{{#url.image}}
<p>
        <img alt="{{name.first}} {{name.last}}{{#name.suffix}} {{name.suffix}}{{/name.suffix}}" class="img-responsive" src="{{{url.image}}}" /></p>
{{/url.image}}
