{{^does-prefer-surname-first}}{{name.surname}}, {{name.given}}{{/does-prefer-surname-first}}{{#does-prefer-surname-first}}{{name.surname}} {{name.given}}{{/does-prefer-surname-first}}{{#name.suffix}}, {{name.suffix}}{{/name.suffix}}