{{#entries}}
{{#should-render}}
<!-- STAFF: {{name.first}} {{name.last}} ({{name.code}}) -->

<!-- STAFF (Directory Row) -->
<!-- For "Staff Directory" (Full Time) table at `/about/directory` -->

{{> row}}



<!-- STAFF (Image Content) -->
<!-- For "Staff Image" Web Content at `/about/directory/firstname-lastname` -->

{{> img}}



<!-- STAFF (Bio Content) -->
<!-- For "Staff Bio" Web Content at `/about/directory/firstname-lastname` -->

{{> bio}}



{{/should-render}}
{{/entries}}
