{{#entries}}
{{#should-render}}
<!-- STAFF: {{> name}} ({{name.code}}) -->

<!-- STAFF (Directory Row) -->
<!-- For "Staff Directory" (Full Time) table at `/about/directory` -->

{{> row}}



<!-- STAFF (Image Content) -->
<!-- For "Staff Image" Web Content at `/about/directory/{{name.code}}` -->

{{> img}}



<!-- STAFF (Bio Content) -->
<!-- For "Staff Bio" Web Content at `/about/directory/{{name.code}}` -->

{{> bio}}



{{/should-render}}
{{/entries}}
