{{#entries}}
{{#should-render}}
<!-- STAFF: {{> name}} ({{name.code}}) -->

<!-- Title: N/A -->
<!-- Purpose: row in "Staff Directory" (Full Time) table on page `/about/directory` -->

{{> row}}



<!-- Title:
{{> name}} Staff Bio Image
-->
<!-- Purpose: Web Content shown on page `/about/directory/{{name.code}}` -->

{{> img}}



<!-- Title:
{{> name}} Staff Bio
-->
<!-- Purpose: Web Content shown on page `/about/directory/{{name.code}}` -->

{{> bio}}



{{/should-render}}
{{/entries}}
